{# Cette  est une extension de layout.html.twig, en ouvrant les blocks définis dans la  mère on peut spécifier le code #}

{% extends "CoreBundle::layout.html.twig" %}

{% block body %}


    <div>
      <ul>
        {% for periode in periodes %}
            <li><a href="{{ path('RB_parcours_vue_periode') }}">{{ periode.titre }}{% if periode.date is not null %}, {{ periode.date }}{% endif %}</a></li>
        {% endfor %}
      </ul>
    </div>

{% endblock %}