<!DOCTYPE html>

<html>

    <head>
        <title>Genevieve Cornu</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    <!----------------------- CSS ---------------------->
        <link rel="stylesheet" type="text/css" href="parcourspictural.css">


    </head>


    <body>

    <!----------------------- BLOC : Choix période ---------------------->

        <div class="parcourspictural">
            <a href="{{path ('RB_parcours_home')}}">
            <div class="bloc1"> 
                <img src="GC.jpg" alt="genevieve_cornu"/>
            </div>

            <div class="bloc2">
                <div>
                    <h2>Titre de la période</h2>
                    <p>Date de la période</p>
                </div>
            </div>
            </a>
        </div>

        <div class="parcourspictural">
            <a href="{{path ('RB_parcours_home')}}">
            <div class="bloc1"> 
                <img src="GC.jpg" alt="genevieve_cornu"/>
            </div>

            <div class="bloc2">
                <div>
                    <h2>Titre de la période</h2>
                    <p>Date de la période</p>
                </div>
            </div>
            </a>
        </div>

    </body>


</html>