/*
*Author : Diana Portela
*Email : diana.portela@outlook.fr

*SOMMAIRE 
*1. Typographie
*2. Bloc 1 : Titre
*3. Bloc 2.1 : Sous-partie - Texte
*3. Bloc 2.2 : Sous-partie - Oeuvres
*/

/*============================ TYPOGRAPHIE ============================*/

@import url('https://fonts.googleapis.com/css?family=Dosis');
Sélecteur {
    font-family: 'Dosis', sans-serif;
}

/* Appliquer la typographie à l'ensemble de la page */
* {
    font-family: 'Dosis', sans-serif;
}


/* H1, H2, p et a sur l'ensemble de la page */
* h1 {
    font-size: 40px;
}

* h2 {
    font-size: 25px;
}

* p {
    font-size: 15px;
}

* a {
    font-size: 15px;
}

/* H3 sur footer uniquement */
footer h3 {
    font-size: 20px;
}


/*============================ BLOC 1 : Titre ============================*/

/* Position */
.titre div {
    display: inline-block; /* alignement horizontal */
    vertical-align: middle; /* centrage vertical général */
}

.titre .column1 img {
    width: 700px; /* column2 = 600 width + 50 + 50 padding */
    height: 650px;

   object-fit: cover; /* rogner */
}

.titre .column2 {
    width: 600px;
    height: 650px;
    text-height: 100px; /* centrage vertical texte */

    padding-left: 50px;
    padding-right: 50px;
}


/* Style colonne 2 */
.titre .column2 {
    background-color: #2B886B;

    color: white;
    text-decoration: none;
}



/*============================ BLOC 2.1 : Sous-partie - Texte ============================*/

.texte {
    width: 70%; /* taille horizontale du texte */

    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;

   text-align: justify;
}


/*============================ BLOC 2.2 : Sous-partie - Oeuvres ============================*/

.oeuvres img {
    width: 200px;
    height: 200px;

   object-fit: cover; /* rogner */
}

