<!DOCTYPE html>

<html>

    <head>
        <title>Genevieve Cornu</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    <!----------------------- CSS ---------------------->
        <link rel="stylesheet" type="text/css" href="periode.css">


    </head>


    <body>

    <!----------------------- BLOC 1 : Titre ---------------------->

        <div class="titre">
            
            <div class="column1"> 
                <img src="GC.jpg" alt="genevieve_cornu"/>
            </div>

            <div class="column2">
                <h1>Titre de la période</h1>
                <h2>Date de la période</h2>
            </div>
        </div>


    <!----------------------- BLOC 2.1 : Sous-partie - Texte ---------------------->

        <div class="texte">
            <h2>Titre de la sous-partie</h2>
            <p>Texte de la sous-partie</p>
        </div>


    <!----------------------- BLOC 2.2 : Sous-partie - Oeuvres ---------------------->

        <div class="oeuvres"> 
                <img src="GC.jpg" alt=""/>
        </div>

    </body>


</html>