    {# Racine Html, tout ce qui est ici est commun à toutes les pages. #}
    {# Les blocks peuvent être complétés dans les pages filles. #}

<!DOCTYPE html>

<html>

  <head>
        <title>{% block title %}Genevieve Cornu{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

          {% include 'CoreBundle:Outils:header.html.twig' %}

    {% block stylesheets %}
    
  <!----------------------- CSS ---------------------->

    {% endblock %}


  </head>


  <body>

    {% block body %}

    {% endblock %}


    {% block javascripts %}

  <!----------------------- JAVASCRIPT ---------------------->

    {% endblock %}

  </body>

  <footer>

  {% include 'CoreBundle:Outils:footer.html.twig' %}


  </footer>

</html>