{# Cette  est une extension de layout.html.twig, en ouvrant les blocks définis dans la  mère on peut spécifier le code #}

{% extends "CoreBundle::layout.html.twig" %}

{% block body %}

<p>Désolé, cette page n'est pas encore disponible ! Nous développons actuellement le site, revenez donc de temps en temps afin de voir les nouveautés. L'ensemble du site sera disponible pour juillet 2018.</p>

{% endblock %}