{# Cette  est une extension de layout.html.twig, en ouvrant les blocks définis dans la  mère on peut spécifier le code #}

{% extends "CoreBundle::layout.html.twig" %}

{% block stylesheets %}

    <!----------------------- CSS ---------------------->
{% stylesheets filter='?scssphp' 'bundles/rbcontact/css/contact.css' %}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}

{% endblock %}


{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}



{{ include("RBContactBundle:Contact:formContact.html.twig") }}

{% endblock %}
