{# Cette  est une extension de layout.html.twig, en ouvrant les blocks définis dans la  mère on peut spécifier le code #}

{% extends "CoreBundle::layout.html.twig" %}


    {# Exemple : on ouvre le block "titre", le titre pour cette  est "Accueil - Genevieve Cornu" #}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

<img src="http://img.chefdentreprise.com/Img/FICHEPRATIQUE/2015/4/255263/travail-temporaire-necessite-intermediaire-agence-interim--F.jpg
" alt="image_accueil" height="500" /></a>



{% endblock %}